<div class="form-group">
	<label for="select" class="control-label">I'm feeling...</label>
	<select class="form-control" name="Mood1"> 
	  <option value="upbeat" >Upbeat</option>
	  <option value="chill" >Chill</option>
	  <option value="edgy" >Edgy</option>
	  <option value="reflextive" >Reflextive</option>
	  <option value="happy" >Happy</option>
	  <option value="relax" >Relax</option>
	</select>
</div>

<div class="form-group">
	<label for="select" class="control-label">I'm want to feel...</label>
	<select class="form-control" name="Mood2"> 
	  <option value="upbeat" >Upbeat</option>
	  <option value="chill" >Chill</option>
	  <option value="edgy" >Edgy</option>
	  <option value="reflextive" >Reflextive</option>
	  <option value="happy" >Happy</option>
	  <option value="relax" >Relax</option>
	</select>
</div>

<div class="form-group">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/moodmixer')}" href="#/moodmixer">Mix My Moods</a>
</div>


