<!-- <div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="mood-buttons">I want to have FUN</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="mood-buttons">I want to RELAX</div>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="mood-buttons">I want to get PUMPED UP</div>
	</div>
</div> -->

<div class="form-group">
	<form class="form-inline" ng-submit="vm.getUser()">
		<label>Search for tracks by username</label>
		<input type="text" class="form-control" ng-model="vm.username">
		<button class="btn btn-default">Search</button>
	</form>
</div>

<div ng-bind-html="iFrame"></div>

<div class="row">
	<div ng-repeat="song in vm.userTracks">
		<div class="col-md-1 col-sm-2">
			<img src="{{song.artwork_url}}" ng-click="play(song.permalink_url)" ng-if="song.artwork_url">
		</div>
	</div>
</div>