<div class="col-md-12 mood">
	<button class="btn btn-xs btn-default disabled leftNav">Moods:</button>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/rock')}" href="#/rock">Upbeat
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/house')}" href="#/house">Chill
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/hiphop')}" href="#/hiphop">Edgy
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/classical')}" href="#/classical">Reflective
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/reggae')}" href="#/reggae">Happy
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/ambient')}" href="#/ambient">Relaxed
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/moodmixer')}" href="#/moodmixer">Mix Moods
	</a>
</div>
