<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/rock">
		<button type="button" class="btn btn-default">Rock</button>
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/house">
		<button type="button" class="btn btn-default">House</button>
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/hiphop">
		<button type="button" class="btn btn-default">Hip-Hop</button>
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/classical">
		<button type="button" class="btn btn-default">Classical</button>
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/reggae">
		<button type="button" class="btn btn-default">Reggae</button>
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-2 col-lg-1 mood">
	<a href="#/ambient">
		<button type="button" class="btn btn-default">Ambient</button>
	</a>
</div>