<div class="homeMoodContainer">
	<div class="row">
		<div class="col-md-12 homeContent">
			<h1>Music can change your mood instantly.</h1>
			<div class="col-md-5">
				<div class="form-group">
					<select class="form-control" name="Mood1" ng-model="vm.currentMood"> 
					  <option selected disabled value=''>I'm feeling...</option>
					  <option value="1">Bouncy</option>
					  <option value="10">Dark</option>
					  <option value="2">Edgy</option>
					  <option value="6">Elegant</option>
					  <option value="7">Funky</option>
					  <option value="4">Happy</option>
					  <option value="3">Introspective</option>
					  <option value="5">Mellow</option>
					  <option value="8">Romantic</option>
					  <option value="11">Strange</option>
					  <option value="9">Trippy</option>
					  <option value="0">Upbeat</option>
					</select>
				</div>
			</div>

			<div class="col-md-5">
				<div class="form-group">
					<select class="form-control" name="Mood2" ng-model="vm.endMood"> 
					  <option selected disabled value=''>I want to feel...</option>
					  <option value="1">Bouncy</option>
					  <option value="10">Dark</option>
					  <option value="2">Edgy</option>
					  <option value="6">Elegant</option>
					  <option value="7">Funky</option>
					  <option value="4">Happy</option>
					  <option value="3">Introspective</option>
					  <option value="5">Mellow</option>
					  <option value="8">Romantic</option>
					  <option value="11">Strange</option>
					  <option value="9">Trippy</option>
					  <option value="0">Upbeat</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<a id="mixMoods" class="btn btn-primary" ng-class="{ active: vm.isActive('/moodmixer')}" ng-click="vm.showCurrentMood()">Mix!</a>
			</div>

			<div player></div>
			<div class="playlistContainer">
				<playlist ng-repeat="track in vm.mood1"></playlist>
				<playlist ng-repeat="track in vm.mixedMood12 track by $index"></playlist>
				<playlist ng-repeat="track in vm.mood2"></playlist>
			</div>
		</div>
	</div>
</div>