<div class="col-md-12 mood">
	<button class="btn btn-xs btn-default disabled leftNav">Moods:</button>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/upbeat')}" href="#/upbeat">Upbeat
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/chill')}" href="#/chill">Chill
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/edgy')}" href="#/edgy">Edgy
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/reflective')}" href="#/reflective">Reflective
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/happy')}" href="#/happy">Happy
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/relaxed')}" href="#/relaxed">Relaxed
	</a>
</div>
<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 mood">
	<a class="btn btn-default" ng-class="{ active: vm.isActive('/mixmymood')}" href="#/mixmymood">Mix Moods
	</a>
</div>
