<div class="row headContainer">
	<div class="col-md-12">
		<div ng-show="vm.url" ng-if="vm.url" class="audioControls">
			<span>
				<audio id="audio" ng-src="{{vm.url}}" autoplay ended>
				Your browser does not support the audio element.
				</audio>
				<button type="button" class="btn btn-lg btn-player" ng-click="vm.prev()">
					<span class="glyphicon glyphicon-backward"></span>
				</button>
				<button type="button" class="btn btn-lg btn-player" ng-click="vm.play()" ng-hide="vm.isStreaming">
					<span class="glyphicon glyphicon-play"></span>
				</button>
				<button type="button" class="btn btn-lg btn-player" ng-click="vm.pause()" ng-show="vm.isStreaming">
					<span class="glyphicon glyphicon-pause"></span>
				</button>
				<button type="button" class="btn btn-lg btn-player" ng-click="vm.next()">
					<span class="glyphicon glyphicon-forward"></span>
				</button>
			</span>

			<!-- <span id="progressBar" class="barContainer">
				<div class="progress">
				  <div id="seekbar" class="progress-bar progress-bar-striped active" role="progressbar" value="0" max="1" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>
			</span> -->

			<div class="marquee">
				<div class="marquee-text">
					{{ vm.currentSong }}
				</div>
			</div>
		</div>

		<!-- <span ng-show="!vm.url">
			<audio ng-src="{{vm.url}}">
			Your browser does not support the audio element.
			</audio>
		</span> -->
	</div>
</div>