.trackInfo h4 { 
	margin: 0;
	white-space: nowrap; 
	overflow: hidden;
  	text-overflow: ellipsis; 
}

.mood {
	text-align: center;
}

.mood .btn {
	width: 100%;
	margin-bottom: 2px;
	letter-spacing: 6px;
}

.mood .disabled {
	letter-spacing: 1px;
}

#audio {
}

.audioControls {
}

.mood-buttons {
	padding: 20px;
	max-height: 120px;
	border: 2px solid #000;
	text-align: center;
}

.hideGenre {
	display: none;
}

.showGenre {
	display: block;
}

.trackInfo {
	background: rgba(255,255,255,.15);
	margin-bottom: 1px;
	padding: 10px;
}

.trackInfo:hover {
	background: rgba(255,255,255,.2);
}

.trackInfo a {
	text-decoration: none;
}

.trackInfo small {
	float: right;
    margin-top: -20px;
    font-weight: 800;
}

@media (max-width: 991px) {
	.disabled { display: none; }
}

@media (max-width: 768px) {
	/*.trackInfo { padding-bottom: 10px; }*/
	.trackInfo h4 { font-size: .8em; }
	.trackInfo small { display: none; }
}
